# .env example file
FLASK_ENV="dev or testing or prod"
SECRET_KEY="your_flask_secret_key"
DATABASE_URL="sqlite:////app/instance/kusibot.db OR your_database_url"
# Professional username must be 4 characters or more.
PROFESSIONAL_USERNAME="your_professional_username"
# Professional username must be 8 characters or more.
# Also contain at least one uppercase letter, one lowercase letter, one digit, and one special character.
PROFESSIONAL_PASSWORD="your_professional_password"
# Optional: If you want to set a new email for the professional user
# PROFESSIONAL_EMAIL="your_professional_email"
# By defatult, the professional email is set to "pro@kusibot.com"