/* Style for selected user link in sidebar */
#sidebarUserList .nav-link.active,
#sidebarUserListSmall .nav-link.active {
  background-color: #e9ecef;
  font-weight: 600;
  color: #0c4160;
}
  
/* Style for Assessment table */
#assessmentsPanel table th {
  background-color: #f8f9fa;
}

/* Style for Sidebar when Screen is small */  
#sidebarUserListSmall{
  max-height: 30vh; 
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  main{
    padding-top: 2rem;
  }
  
  /* btn-sm in Bootstrap */
  .btn-secondary {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
  }
}