/* Style for selected user link in sidebar */
#sidebarUserList .nav-link.active,
#sidebarUserListSmall .nav-link.active {
  background-color: #e9ecef;
  font-weight: 600;
  color: #0c4160;
}
  
/* Style for Assessment table */
#assessmentsPanel table th {
  background-color: #f8f9fa;
}

/* Maximum height for the conversation history */
.conversation-history{
  max-height: 500px;
}

/* Style for Sidebar when Screen is small */  
#sidebarUserListSmall{
  max-height: 30vh; 
  overflow-y: auto;
}