/* Google Font Import (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Global Styles */
html, body { 
  height: 100%; 
}

body { 
  display: flex; 
  flex-direction: column; 
  font-family: 'Poppins', sans-serif;
}

main { 
  flex: 1 0 auto; 
}

footer { 
  flex-shrink: 0; 
}

/* Navbar Customization */
header .navbar {
  background-color: #c2e4f7;
  border-bottom: 1.5px solid #a9d7f0;
}

/* Navbar Link  Customization */
.navbar .navbar-nav .nav-link {
  color: #000;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .dropdown-toggle:hover {
  color: #602b0c;
  font-weight: bold;
}

.navbar .navbar-nav .dropdown-toggle {
  border: none;
}

/* Override Bootstrap primary button color with KusiBot color */
.btn-primary {
  --bs-btn-bg: #0c4160;
  --bs-btn-border-color: #0c4160;
  --bs-btn-hover-bg: #072a3f; 
  --bs-btn-hover-border-color: #052131; 
  --bs-btn-active-bg: #052131; 
  --bs-btn-active-border-color: #031621; 
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white;
}


/* Acessibility SKIP LINK */
#skip-link.visually-hidden-focusable{
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0;
  color: white;
  background-color: #0c4160;
  border-right: 1px solid white;
  border-bottom:1px solid white;
  border-bottom-right-radius: 8px;
  transition: top .5s ease-out;
  z-index: 100;
}

#skip-link.visually-hidden-focusable:focus{
  position: absolute;
  top: 0;
  left: 0;
  outline-color: transparent;
  transition: top .5s ease-in;
}


/* Flash Messages Styling */

.flash-message {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.alert{
  background-color: #c2e4f7;
  color: black;
  border-color: #a9d7f0;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

/* Accessibility <a> link */
a {
  color: #0250B1;
}

/* Accessibility in SOS page for headers */
.h5-to-h3 {
  font-size: 1.25rem;
}

/* Accessibility in About page for headers */
.h4-to-h3 {
  font-size: calc(1.275rem + .3vw);
}